/* Mendoza Parraga Andres Gonzalo
Documento css
Taller2
fecha: 26/11/2020 */
body {
    color: rgb(40, 72, 73); background-color: rgb(206, 247, 248); font-family: Georgia, Cambria, serif; font-size: 16px;
}
h1 {
    color: rgb(27, 36, 37); font-family: Verdana, Calibri, sans-serif; font-size: 32px;
}
p{
    position: relative;
    width: 35%;
    height: 35%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #608d786e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 {
    position: relative;
    width: 30%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #fbfd776e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    position: relative;
    width: 30%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #9c683c6e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 {
    position: relative;
    width: 30%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #e28941ce;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container4 {
    position: relative;
    width: 30%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #f07a8efa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container5 {
    position: relative;
    width: 40%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #6bf589fa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container6 {
    position: relative;
    width: 40%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #fbfd776e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container7 {
    position: relative;
    width: 38%;
    height: 20%;
    padding: 2rem;
    border-radius: 9px;
    background-color: #9c683c6e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
