<!-- Mendoza Parraga Andres Gonzalo
Taller 2
fecha: 26/11/2020 -->
<head>
    <title>Taller 2 - 26/11/2020</title>
    <link href="taller2.css" rel="stylesheet"/>
</head>

<body>
    <p>
        Realizar lo siguiente:<br>
            •Transforme la hora actual en segundos.<br>
            •Calcular el área de un triángulo, que es igual a: (base * altura)/2.<br>
            •Calcule la raíz cuadrada de un número impar y muestre el resultado con 3 dígitos.<br>
            •Ingresar una cadena de texto y mostrar la longitud de la cadena.<br>
            •Concatenar los arrays:  array1(Lunes, Martes, Miércoles, Jueves, Viernes) y array 2 (Sábado, Domingo)<br>
            •Mostrar la versión del navegador.<br>
            •Mostrar el ancho y la altura de la pantalla.<br>
            •Imprimir la página.<br>
    </p>

    <div class="container1">
        <h5>
            Transforme la hora actual en segundos.
        </h5>
        <script>
            var fechaactual = new Date();
            var hora = (fechaactual.getHours()*3600);
            var minutos = (fechaactual.getMinutes()*60);
            var suma = 0;
            suma = hora+minutos+fechaactual.getSeconds();
            document.write("Hora actual: "+fechaactual.getHours()+":"+fechaactual.getMinutes()+":"+fechaactual.getSeconds()+"<br>");
            document.write("Hora actual en segundos: "+suma);
        </script>
    </div>
    
    <div class="container2">
        <h5>
            Calcular el área de un triángulo, que es igual a: (base * altura)/2.
        </h5>
        <script>
            var base = parseFloat(prompt("Ingrese la base"));
            var altura = parseFloat(prompt("Ingrese la altura"));
            var resultado;
            resultado = ((base*altura)/2);
            document.write("Resultado del area del triangulo: "+resultado);
        </script>
    </div>

    <div class="container3">
        <h5>
            Calcule la raíz cuadrada de un número impar y muestre el resultado con 3 dígitos.
        </h5>
        <script>
            var numraiz = parseFloat(prompt("Ingrese un numero para calcular la raiz"));
            var obtener = Math.sqrt(numraiz);
            var redondeado = (Math.round(obtener*100)/100);
            document.write("La raiz cuadrada de "+numraiz+ " es: "+redondeado);
        </script>
    </div>

    <div class="container4">
        <h5>
            Ingresar una cadena de texto y mostrar la longitud de la cadena.
        </h5>
        <script>
            var texto = prompt("Ingrese una cadena");
            document.write("La longitud es: "+texto.length);
        </script>
    </div>

    <div class="container5">
        <h5>
            Concatenar los arrays:  array1(Lunes, Martes, Miércoles, Jueves, Viernes) y array 2 (Sábado, Domingo)
        </h5>
        <script>
            var array1 = new Array("Lunes", "Martes", "Miércoles", "Jueves", "Viernes");
            var array2 = new Array("Sábado", "Domingo");
            document.write(array1.concat(array2));
        </script>
    </div>

    <div class="container6">
        <h5>
            Mostrar la versión del navegador.
        </h5>
        <script>
            document.write("Version del navegador: "+navigator.appVersion);
        </script>
    </div>

    <div class="container7">
        <h5>
            Mostrar el ancho y la altura de la pantalla.
        </h5>
        <script>
            document.write("Anchura de la pantalla: "+window.screen.width+"<br>");
            document.write("Altura de la pantalla: "+window.screen.height);
        </script>
    </div>

    <div>
        <form>
            <input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
        </form>
    </div>


</body>